
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.homescreen {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: auto;
  background: var(--Gray---200, #EEE);
}

.searchbar--container {
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 82px;
  width: 100vw;
  background: var(--White, #FFF);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.searchbar {
  width:100vw;
  height: 28px;
  padding-left: 30px;
  border-radius: 8px;
  margin-left:50px;
  border: 1px solid var(--Blue---400, #42A5F5);
  background: var(--Gray---200, #EEE);
  
}

.searchbar--button {
  display: inline-flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 56px;
  background: var(--Blue---400, #42A5F5);
  margin-right:50px;
}

.search--icon {
  position: absolute;
  left:10px;
  margin-left: 50px;
  width: 20px;
  height: 15px;
}
